/*CSS NORMALIZE IMPORT */
@import-normalize;

/* POPPINS GOOGLE FONT */
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&family=Poppins:wght@100;200;300;400;500;600&family=Zen+Kurenaido&display=swap');

:root {
  /* COLORS */
  --primary-black: #2a2829;
  --primary-white: #eae8e9;
  --grey: #bbbbbb;
  --failure: #b34f4c;
  --edit: #4c7cb3;

  /* FONTS */
  --ff: 'Oswalt', 'Poppins', 'Zen Kurenaido', sans-serif;

  /* STYLES */
  --shadow: rgba(42, 40, 41, 0.25) 0px 4px 16px;
  --radius: 0.5rem;
  --transition: all 250ms cubic-bezier(0.2, 0.6, 0.3, 1);
}

body {
  margin: 0;
  font-family: var(--ff);
  font-size: 1em;
  font-weight: 300;
  font-style: normal;
  letter-spacing: 0em;
  text-transform: none;
  color: var(--primary-black);
  background-color: var(--primary-white);
  -webkit-font-smoothing: antialiased;
}

.wrapper {
  height: 100vh;
  width: 100vw;
}

.failure-text {
  color: var(--failure);
}

/* BOOTSTRAP DEFAULTS */
.card {
  border: none;
  border-radius: var(--radius);
}

.pointer {
  cursor: pointer;
}

@media only screen and (max-width: 992px) {
  html {
    font-size: 14px;
  }
}
