.admin-tab {
  width: fit-content;
  margin-bottom: -1px !important;
  background-color: #fff;
  border-top-left-radius: var(--radius);
  border-top-right-radius: var(--radius);
}

.admin-tab li button {
  font-size: 1.1em !important;
  color: var(--grey) !important;
}

.admin-tab li button:hover,
.admin-tab li button:active,
.admin-tab li button:focus,
.admin-tab li button:focus-visible {
  color: var(--primar-black) !important;
  border: none !important;
  box-shadow: var(--shadow);
  outline: none;
}

.nav-link.active {
  color: var(--primar-black) !important;
  background-color: rgba(0, 0, 0, 0.03) !important;
  border: none !important;
}

.nav-tabs {
  border-bottom: none !important;
}

/* PROFILE */
.back-icon,
.edit-icon {
  transition: var(--transition);
}

.edit-icon:hover {
  color: var(--edit);
}

.back-icon:hover {
  color: #000;
}

/* GENERAL */
.logo-container {
  background-color: var(--primary-black);
  border-radius: var(--radius);
}

.img-tab-container {
  width: 100%;
  overflow: hidden;
}

.img-tab {
  width: 100%;
  position: relative;
  top: 0.3rem;
  flex-wrap: nowrap;
  overflow: scroll;
}

/* .portal-carousel-item {
  padding: 1rem;
  height: 25rem;
  background-color: rgba(0, 0, 0, 0.03);
  border-radius: var(--radius);
  border-top-left-radius: 0px;
} */

/* .portal-carousel-item img {
  width: 100%;
  height: 100%;
  object-fit: contain;
} */

@media only screen and (min-width: 768px) {
  .profile-img-container,
  .profile-info,
  .logo-container {
    width: 80%;
  }
}
