/* PHOTO UPLOAD */
.dropzone {
  border: none !important;
  border-radius: var(--radius);
}

.img-drop {
  border-bottom: none;
  border-bottom-left-radius: var(--radius) !important;
  border-bottom-right-radius: var(--radius) !important;
  border-top-right-radius: var(--radius) !important;
}

.upload-square {
  position: relative;
  width: 10rem;
  height: 10rem;
  border: 3px dashed var(--primary-white);
  border-radius: var(--radius);
}

.upload-square-content > * {
  white-space: nowrap;
}

.preview-imgs div {
  position: relative !important;
  width: 18rem;
  height: 18rem;
  border: 1px solid var(--primary-white);
  border-radius: var(--radius);
  overflow: hidden;
  cursor: move;
}

.preview-imgs div .thumbnail-overlay {
  position: absolute !important;
  top: 0;
  right: 0;
  background-color: var(--primary-white);
  opacity: 0;
  transition: var(--transition);
}

.preview-imgs div .thumbnail-overlay .thumbnail-delete {
  transition: var(--transition);
}

.preview-imgs div .thumbnail-overlay .thumbnail-delete:hover {
  color: var(--failure);
}

.preview-imgs div img {
  height: 100%;
  width: auto;
}

.image-form-overlay .back-container {
  position: absolute !important;
  top: -14px;
  right: -11px;
  width: auto;
}

@media only screen and (min-width: 768px) {
  .preview-imgs div {
    width: 16rem;
    height: 16rem;
  }
}
@media only screen and (min-width: 992px) {
  .preview-imgs div {
    width: 12rem;
    height: 12rem;
  }
}

/* LOGIN */
/* .login-card {
  position: relative !important;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.login-form {
  width: 93%;
}

.login-status {
  display: none;
}

@media only screen and (min-width: 576px) {
  .login-card {
    width: 65%;
    height: 65%;
    transform: translate(-50%, -57%);
    box-shadow: var(--shadow);
  }
}
@media only screen and (min-width: 768px) {
  .login-card {
    width: 45%;
  }
}
@media only screen and (min-width: 992px) {
  .login-card {
    width: 35%;
  }
}
@media only screen and (min-width: 1200px) {
  .login-card {
    width: 30%;
  }
} */
